.display{
    background-color: #1e1e1e;
    height: 120px;
    overflow:inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: whitesmoke;

    font-size: 1.8rem;

}